{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="flash-msg">
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

    <div class="table-container">
        <div class="center">
            <table>
                <tr>
                    <th>Category</th>
                    <th>Color</th>
                    <th>Description</th>
                </tr>
                {% for cat in cats %}
                <tr>
                    <td>{{ cat.category_name }}</td>
                    <td>{{ cat.category_color }}</td>
                    <td>{{ cat.category_description }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

